In [1]:
!pip install selenium

Requirement already satisfied: selenium in j:\pythin\lib\site-packages (4.3.0)
Requirement already satisfied: trio-websocket~=0.9 in j:\pythin\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in j:\pythin\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in j:\pythin\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: idna in j:\pythin\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in j:\pythin\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in j:\pythin\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in j:\pythin\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in j:\pythin\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in j:\pythin\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in j:\pythin\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in j:\pythin\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in j:\pythin\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in j:\pythin\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in j:\pythin\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in j:\pythin\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in j:\pythin\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in j:\pythin\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in j:\pythin\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

#1.Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

First get the webpage https://www.naukri.com/
Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data

In [2]:
#Import Libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
driver=webdriver.Chrome(r'C:\Users\sande\Downloads\chromedriver_win32\chromedriver.exe')

In [5]:
from selenium.webdriver.common.by import By
url='https://www.naukri.com/'
driver.get(url)

In [6]:

#web element for search job bar using id
job_search=driver.find_element(By.CLASS_NAME,"suggestor-input")
job_search

In [7]:
#Provide the search details
job_search.send_keys("Data Analyst")

In [8]:
location_search=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location_search

In [9]:
#Finding web element for job location
location_search.send_keys("Banglore")

In [10]:
#absolute xpath for search 
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [11]:
search_btn.click()

In [12]:
#extract all web elements having job titles
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="ce07ddf6-7ac2-4273-afb4-526958996e3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="0355664e-0930-4556-bc7e-ef16172fdbc1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="e82c4a01-61a1-4a1b-8a05-bde40a7800d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="1fd7ff40-628f-43b7-9f4e-d6729e90ec11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="90a15e54-6bb4-47d7-8362-45d9de9b1530")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="b1beb833-15f4-4e76-867b-8dd2034c5026")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="51b3eab9-c77d-4dde-b16a-bacaaed7aea4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="c0e729ce-4dae-4a14-9f78-748ad5a5ead3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="41f52cc3-c529-4c0d-950c-ffc69d768712")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="9469caa0-a28d-43b3-8d2e-69a4f4682f9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="64ef747c-6e3d-497b-af2e-16e3ce6935fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="b81629a2-97c0-48ac-ad75-45fab303c0a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="1f90d69b-9b9c-415a-9132-1662f2b21f10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="e8b3c80e-d3e6-498c-8f71-d8db2eba05a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="5d4e27d7-f6fe-42d8-85c8-d50271156b27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="48c5bbf4-47d9-4eaf-aa1f-854722735e4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="d345de0a-d639-42f3-94d7-5b0affb8f7a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="4c42b577-15cd-48f3-97d7-c00ed2cc4977")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="e538339a-e771-4c3a-8c42-14df5b208124")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="5591192a-4973-4874-b662-552c3befb6dd")>]

In [13]:
#extract the titles from web elements
job_titles=[]
for job in title_tags:
    job_titles.append(job.text)
    
job_titles

['Associate - Data Analyst',
 'Sr.Business Data Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Senior Data Analyst',
 'Master Data Management Business Analyst',
 'Sr Data Analyst',
 'Hiring For Data Analyst',
 'Data Analyst',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Data Analyst/Senior Data Analyst',
 'Senior Data Analysis Analyst',
 'Data Analyst - Python/Artificial Intelligence',
 'Performance Data Analyst',
 'Happay - Data Analyst',
 'Data Analyst',
 'Data Analyst - CRM Platform',
 'Financial Data Analyst - FIG',
 'Lead Financial Data Analyst',
 'Financial Data Analyst - FIG']

In [14]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="aa283ae2-7e0c-4a10-a127-b8aae5313cff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="606b3682-0722-4cfc-aaee-c06895e21760")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="926ce49f-b1e6-4fa0-b82f-accec95ba5cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="17c528b5-2104-4f20-9420-fa5f2efdc0e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="bf01a41c-b536-4c42-81ae-9982e8e27422")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="ac3bfb88-18a3-4e77-be66-5c3c2114901a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="cf89cd55-9a2d-40a3-a6e8-909e37dcc54b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="0447c276-1bd4-4791-9515-5f21d485587e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="f6f535e4-193f-4f85-aebe-9eae8fc8569d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="34b1b2c2-a0b6-4bce-bdb1-0ea2ef08b6a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="80043ffa-87b0-4508-b3f2-a0a658216311")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="bff82547-9c43-424e-86f4-466aecdde377")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="943bafd7-b1c8-40fb-9743-928fa5804497")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="c8ce9add-305e-4d72-ae40-225a07bb3c4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="fdb8dd77-8108-4054-bb61-6d3a1f41a6ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="b7e7cc91-b72e-4107-a698-10410babd6b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="fdcfb725-b38d-4dca-9671-2e9bab097361")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="cb52ccf9-d164-4967-8708-21c249c84031")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="3abc4124-d13f-44c1-ac86-75048f0da3fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="cf67b8a9-1de6-45c1-aef1-4230787e5d72")>]

In [18]:
job_location=[]

for loc in location_tags:
    job_location.append(loc.text)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Ahmedabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas), Pune',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, New Delhi, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [19]:
#Let's extract all web elements for company
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="66432f6d-86b8-4a21-9ae1-3ed1ba2a5123")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="57652779-918a-403a-8e3b-43f248a98ebe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="ca9d022f-742f-42c2-8be7-bc0c95f661ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="a45e2915-7f09-4211-88c3-a11611cc07fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="30402feb-8568-43de-9a3b-8cb99b189461")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="538f5c76-7548-4b09-a69b-32656b3dd279")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="77b9ede9-b0f8-4432-9990-3bb8c14e5c6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="897f32bc-320c-4a19-826c-1f09eee6eaa7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="2dc3e605-c2a1-4e2a-8f72-4a3585145a8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="ae1df670-ee6a-490c-aa4c-d93acb9a94c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="7d45baab-575c-49c2-9f2e-971874ecdddb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="8cdcc600-39be-4053-af12-def0809c634e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="721b8eef-e56c-4785-8477-fe2037fe608c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="242f402b-01a4-4fe0-8c09-bf1dfed17b6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="6bbdf85d-6f1f-4345-805c-044383a6c7d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="f380039f-0b13-4297-b6b4-07b85a4600a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="1d318c88-7b41-4354-bfdb-3b971d8834ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="d78cbf62-d1c0-43e2-9792-c84f90f52a6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="ed4eb845-3b06-4273-9eb6-ec6428c26ebe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="f81e1a76-e61d-495e-82cd-b964638b5cca")>]

In [20]:
#extract company name from tags(web element)

company_name=[]

for comp in company_tags:
    company_name.append(comp.text)
company_name

['Myntra',
 'Collabera',
 'CURise Analytics Pvt. Ltd.',
 'KrazyBee',
 'Accenture',
 'Thomson Reuters',
 'Flipkart',
 'Wipro',
 'Optum',
 'Optum',
 'Meesho',
 'Capco',
 'iMindYourBusiness',
 'Fluence',
 'Happay-Expense Management Solution for Businesses',
 'Kititan Co., Ltd',
 'Artech infosystem',
 "Moody's",
 "Moody's",
 "Moody's"]

In [21]:
#extract web elements for experience
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="e050089b-aa7e-4fba-a1d4-6809aa53dc8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="3a2b5185-d4d7-410d-b59e-01c2aa6a7d8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="aa729950-15db-441b-87c1-2e47d924812c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="4abb14c9-ea82-4519-a464-d512e0d0dcb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="70d412fe-7256-4f4c-a5a6-a3ed33ceb92c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="ec198383-ef75-42e2-9230-1265a999dc12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="4024f17a-db8f-4e5b-bec5-c86788602f32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="855bb1a4-e939-4a2c-9929-1dddefb0cbb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="1546fbb0-8e0f-4a03-8535-c04bf45f9357")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="479c623e-fd2e-44ad-8f3b-644cf16dd8da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="276bb900-c52d-4e7f-92ce-cda078a16858")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="65683999-db0e-4758-9d16-767935a8c3e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="d472a1e1-61d7-4928-b092-123f6f2118f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="529787ee-679b-402a-a92f-6c37642c631a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="b40600d6-69fa-4052-a055-8a8f710f858b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="8b6889e1-4bda-40a4-a330-a2df2d6bf8e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="e6ae0d41-fb25-4450-af8b-48ead6dc73ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="86aeb829-a26c-406e-aa31-7af2d7d09328")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="d4908653-6fe3-4081-8eb3-4c40aeb9c89a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d82b028cbc85a4c5e74e2404a3fbe786", element="c02fd705-02fb-4c04-b788-ef49fac0ce2f")>]

In [22]:
required_experience=[]

for exp in experience_tags:
    required_experience.append(exp.text)
required_experience

['0-2 Yrs',
 '6-11 Yrs',
 '0-2 Yrs',
 '3-6 Yrs',
 '6-8 Yrs',
 '5-8 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-6 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '2-5 Yrs',
 '1-2 Yrs',
 '5-10 Yrs',
 '1-6 Yrs',
 '1-3 Yrs',
 '3-5 Yrs',
 '1-3 Yrs']

In [23]:
len(job_titles),len(job_location),len(company_name),len(required_experience)

(20, 20, 20, 20)

In [24]:
#data frame
data=pd.DataFrame()
data['Job Title']=job_titles
data['Company Name']= company_name
data['Experience Required']=required_experience
data['Job Location']=job_location
data.head(10)

,Job Title,Company Name,Experience Required,Job Location
0,Associate - Data Analyst,Myntra,0-2 Yrs,Bangalore/Bengaluru
1,Sr.Business Data Analyst,Collabera,6-11 Yrs,"Bangalore/Bengaluru, karnataka\n(WFH during Co..."
2,Job opportunity For Data Analyst at Trellance ...,CURise Analytics Pvt. Ltd.,0-2 Yrs,"Ahmedabad, Bangalore/Bengaluru"
3,Senior Data Analyst,KrazyBee,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road)
4,Master Data Management Business Analyst,Accenture,6-8 Yrs,Bangalore/Bengaluru
5,Sr Data Analyst,Thomson Reuters,5-8 Yrs,Bangalore/Bengaluru
6,Hiring For Data Analyst,Flipkart,2-5 Yrs,Bangalore/Bengaluru
7,Data Analyst,Wipro,4-9 Yrs,"Noida, Hyderabad/Secunderabad, Gurgaon/Gurugra..."
8,Associate Data Analyst,Optum,2-7 Yrs,Bangalore/Bengaluru
9,Associate Data Analyst,Optum,1-4 Yrs,Bangalore/Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [27]:
driver=webdriver.Chrome(r'C:\Users\sande\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.naukri.com/'
driver.get(url)

In [28]:
#web element for search job bar using id
job_search1=driver.find_element(By.CLASS_NAME,"suggestor-input")

In [30]:
#Provide the search details
job_search1.send_keys("Data Scientist")

In [31]:
#location tag
location_search=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location_search

In [32]:
location_search.send_keys("Bangalore")

In [33]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [34]:
search_btn.click()

In [35]:
#extract all web elements having job titles
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="9570d57f-2c52-42ce-81fd-9e4cfdbeef1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="b57cb379-e313-4d1b-b7a0-84ad9a445a22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="b3ed662a-2667-4baa-925b-44ff55f20266")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="75ffe84c-cf53-4242-b6fc-6e21bdb868ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="425614a0-1caa-43af-bc53-dbf47f923a91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="16d374df-6147-4bb8-80f6-d44f04cf4455")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="5d8c44c9-d893-4632-9b08-a45e78fc91e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="a2f4520d-89d2-42aa-b3bb-62be6bac87ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="3c3e9074-7c6a-4861-b968-3fb826fb1412")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="72945236-3829-4883-92a0-f6744aa58c33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="f6464735-063a-401e-982c-b56d7e6e42e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="885df7a4-1b6c-429e-b3e7-2209d37c3fb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="7681229d-65f6-4acc-9829-887e514cbecc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="51a0286a-1f11-4715-8175-ca4497002409")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="0526ee13-910a-4f1b-83c2-a59248851d1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="04562a32-4831-4839-803e-9e32a3a5befe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="300cdf04-5efe-40e9-b3e7-43484dd41fc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="e090b268-aa8c-4918-9a1d-e9f4811e42e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="d4b9aaa5-2ed4-479a-bd44-bc920e31032a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="fbeb5932-7b83-40d4-96f3-483df781af83")>]

In [36]:
job_titles1=[]
for job in title_tags:
    job_titles1.append(job.text)
    
job_titles1

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Hiring For Senior Data Scientist',
 'Data Scientist',
 'Data & Analytics Tech - Informatica Cloud- Senior Associate',
 'Dataiku Consultant',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'EY GBS - Assistant Director - Data Science (10+ years), Bangalore',
 'Data Scientist: Advanced Analytics',
 'Research Scientist',
 'Principal - Data Scientist',
 'Data Scientist',
 'Data Scientist, Personalization',
 'AWS Sagemaker',
 'Data Scientist',
 'Data Engineer - ML Ops',
 'Data Scientist',
 'Data Scientist']

In [37]:
#Let's extract all web elements for company
company_tags1=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
company_tags1

[<selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="d8995c45-1737-48c1-a151-985bab6d348b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="8a08a834-aa4d-4433-8e6c-80e1ef4e53f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="62ea0000-efcb-409a-b70c-65af15fa9cda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="a41d82ba-761a-496d-8815-6d239f58ddad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="4749f805-ed14-4757-b058-0614b3cc34c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="6e2a32ad-7305-425b-a7bb-1ef31a00dea0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="f38fced2-086b-454c-b90d-0174875d7f59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="04b0597a-344d-457d-b98e-811050f18ff6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="cab791ec-5ba1-48c7-8a61-1f9e6a0c3165")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="9607ad25-72ac-4431-b3cd-37d5b28cf847")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="80424378-7ae5-464e-b662-3650b5353b6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="94ad29f6-8573-4f8b-b724-c068a3d69800")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="27602cb5-61ba-44ec-9ab6-b0d8dfb3656c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="782e9961-6024-4940-9289-65b30100c8fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="d8975e97-ebba-4797-ba7c-e0fb60880b1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="a0a792b8-b38f-4705-8c4b-d7c86c9854f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="230b75d3-4e86-4299-aa57-5d0074ed2355")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="c826207d-2a27-4b56-9729-fb5a07c8d45d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="cc274f8c-54f9-4cb4-9a53-a890ca709791")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="6b55204f-1b66-40ca-bf9c-243a1a07d6f2")>]

In [38]:
#extract company name from tags(web element)

company_name1=[]

for comp in company_tags1:
    company_name1.append(comp.text)
company_name1

['Wipro',
 'TATA CONSULTANCY SERVICES (TCS)',
 'Applied Materials',
 'PwC',
 'Wipro',
 'EXL',
 'PayU',
 'Fractal Analytics',
 'Paytm',
 'EYGBS',
 'IBM',
 'IBM',
 'Schneider Electric',
 'IBM',
 'Walmart',
 'Wipro',
 'Wipro',
 'VISA',
 'Applied Materials',
 'Applied Materials']

In [39]:
# Extracting location
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="b9eb6fe0-0f49-42f4-9ca5-5627c825f065")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="128646ca-0f87-404e-bde8-a5e82898d926")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="496926f1-fe5e-4b02-bb09-7d422cd9bebd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="1107c5c5-1069-4346-96c6-d5624f4859de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="77331798-b71c-405a-813a-61a1d1fbc44f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="d40caedd-cd43-4644-a655-209bd9ea2b94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="d5d49c9b-dbc1-448f-952c-3c98ce8590d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="958e8e2f-57fc-4f49-84f5-d4c18ce32946")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="f9611d1a-e76d-4250-ae8d-76f47b5c92e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="70485aa1-5944-4e3d-bf2f-ac54a5a737fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="c57d9afd-d141-4a20-a277-c8fbddaafb74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="3d70fded-e11b-4d95-857f-de0f79871f1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="90f09c6f-70d3-4a11-86bc-9d025d3faf86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="a6efeb74-8a67-4320-87b1-38a6b1722b30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="f2c92bae-8bfe-4d88-83f3-12c0d0cf69ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="4cb755b3-7395-4704-8af2-12dd4f67aadb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="332eb23e-8210-4d8b-a077-7e7fe348b007")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="104ab5cc-654c-4901-8758-c0aa1435266b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="d976939a-5b93-4ee6-a6fb-1257777d6655")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a5f49a718e149889a79d97297de3a5a6", element="b1139b24-19da-4307-9375-81cd35ec8b93")>]

In [40]:
job_location1=[]

for loc in location_tags:
    job_location1.append(loc.text)
job_location1

['Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [41]:
#data Frame
data=pd.DataFrame()
data['Job Title']=job_titles1
data['Company Name']= company_name1
data['Job Location']=job_location1
data.head(10)

,Job Title,Company Name,Job Location
0,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
1,Hiring For Senior Data Scientist,TATA CONSULTANCY SERVICES (TCS),"Bangalore/Bengaluru, Pune"
2,Data Scientist,Applied Materials,Bangalore/Bengaluru
3,Data & Analytics Tech - Informatica Cloud- Sen...,PwC,Bangalore/Bengaluru
4,Dataiku Consultant,Wipro,"Bangalore/Bengaluru, Pune, Chennai"
5,Research and Development -AI/ML -(PhD ),EXL,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
6,Opportunity For Data Scientist - Female Candid...,PayU,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
7,Senior Data Science Engineer,Fractal Analytics,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
8,Data Science - Engineering Manager,Paytm,"Bangalore/Bengaluru, Noida, Mumbai"
9,EY GBS - Assistant Director - Data Science (10...,EYGBS,Bangalore/Bengaluru

Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [42]:
driver=webdriver.Chrome(r'C:\Users\sande\Downloads\chromedriver_win32\chromedriver.exe')
url='https://www.naukri.com/'
driver.get(url)

In [43]:
#Web element for job search
job_search2=driver.find_element(By.CLASS_NAME,"suggestor-input")

In [45]:
#Provide the search details
job_search2.send_keys("Data Scientist")

In [46]:
#Search Button element
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [47]:
search_btn.click()

In [49]:
salary_check=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary_check

In [50]:
salary_check.click()

In [53]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[3]/label/p/span[1]')
location.click()

In [54]:
#Extract job titles
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

In [55]:
job_titles3=[]
for job in title_tags:
    job_titles3.append(job.text)
    
job_titles3

['DigitalBCG GAMMA Data Scientist',
 'Data Scientist - Noida/Bangalore',
 'Senior Associate - Data Science',
 'Data Scientist For Healthcare Product team',
 'Data Scientist For Healthcare Product team',
 'Data Scientist - Machine learning AI',
 'Data Scientist - MIND Infotech',
 'Data Scientist - Engine Algorithm',
 'Knowledge/Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Science',
 'Data Science',
 'Machine Learning Seniors',
 'Data Scientist',
 'Hiring || Data Scientist || North Delhi || 5.5 days working',
 'Data scientist- Python',
 'Dot Net Developer',
 'Data Engineer']

In [56]:
#Extracting company names

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

In [58]:
company3=[]
for comp in company_tags:
    company3.append(comp.text)
    
company3

['Boston Consulting Group',
 'EXL',
 'Black Turtle',
 '8KMiles Software Services',
 '8KMiles Software Services',
 'Teq Analytics',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Primo Hiring',
 'BOLD Technology Systems',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Sydata Consulting India Pvt Ltd',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Walking Tree Consultancy Services pvt Ltd',
 'Kellton Tech Solutions',
 'Shriram Automall',
 'TeamPlus Staffing Solution Pvt Ltd',
 'Nibha Infotech Private Limited',
 'excellence']

In [59]:
#Extracting Experience

experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
required_experience=[]

for exp in experience_tags:
    required_experience.append(exp.text)
    
required_experience

['2-5 Yrs',
 '5-10 Yrs',
 '4-7 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '4-8 Yrs',
 '1-3 Yrs',
 '3-6 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '4-9 Yrs']

In [60]:
#Extracting location
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

location=[]

for loc in location_tags:
    location.append(loc.text)
location

['New Delhi, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Hyderabad/Secunderabad, New Delhi',
 'Gurgaon/Gurugram',
 'Delhi / NCR(Netaji Subhash Place)',
 'Gurgaon/Gurugram',
 'Delhi / NCR, Gurgaon/Gurugram',
 'Mumbai, New Delhi, Pune']

In [61]:
len(location),len(company3),len(required_experience),len(job_titles3)

(20, 20, 20, 20)

In [62]:
#data Frame
data=pd.DataFrame()
data['Job Title']=job_titles3
data['Job Location']=location
data['Company Name']= company3
data['Experience Required']=required_experience
data.head(10)

,Job Title,Job Location,Company Name,Experience Required
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle,4-7 Yrs
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
5,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,3-8 Yrs
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6 Yrs
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.

4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then 
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [63]:
url='https://www.flipkart.com/'
driver.get(url)

In [64]:
#web element for search bar
search_product=driver.find_element(By.CLASS_NAME,"_3704LK")

In [65]:
search_product

In [66]:
search_product.send_keys("sunglasses")

In [75]:
#Full xpath for search 
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')

In [76]:
search_btn.click()

In [78]:
#Brand Name
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

brand_name=[]
for b in brand_tags:
    brand_name.append(b.text)

len(brand_name)

40

In [79]:
# Product Desription
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

product_description=[]
for p in product_tags:
    product_description.append(p.text)

len(product_description)

40

In [80]:
# Price
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

price=[]

for i in price_tags:
    price.append(i.text)
len(price)

40

In [81]:
#navigate to next page
next_page=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_page.click()

In [82]:
brand_tags2=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')


for b1 in brand_tags2:
    brand_name.append(b1.text)

len(brand_name)

80

In [83]:
# Product Desription
product_tags2=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

for p2 in product_tags2:
    product_description.append(p2.text)

len(product_description)

80

In [84]:
# Price
price_tags2=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')



for i2 in price_tags2:
    price.append(i2.text)
len(price)

80

In [86]:
next_page=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page.click()

In [87]:
brand_tags3=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')


for b2 in brand_tags3:
    brand_name.append(b2.text)

len(brand_name)

120

In [88]:
# Product Desription
product_tags3=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

for p3 in product_tags3:
    product_description.append(p3.text)

len(product_description)

120

In [89]:
# Price
price_tags3=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')



for i3 in price_tags3:
    price.append(i3.text)
len(price)

120

In [91]:
#back to first page for getting the disocunt

first_page=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
first_page

In [92]:
first_page.click()

In [93]:
# Discount
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
discount=[]

for d in discount_tags:
    discount.append(d.text)
len(discount)

40

In [94]:
#Next PAge
next_page=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_page.click()

In [95]:
# Discount
discount_tags2=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')


for d2 in discount_tags2:
    discount.append(d2.text)
len(discount)

80

In [96]:

#Next PAge
next_page=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page.click()

In [97]:
# Discount
discount_tags3=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')


for d3 in discount_tags3:
    discount.append(d3.text)
len(discount)

120

In [98]:
product=pd.DataFrame()
product['Brand_Name']=brand_name
product['Product_Description']= product_description
product['Price']=price
product['Discount']=discount
product.head(100)

,Brand_Name,Product_Description,Price,Discount
0,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177,₹177
1,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,₹264
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,₹639
3,Elligator,UV Protection Round Sunglasses (54),₹298,₹298
4,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,₹224
...,...,...,...,...
95,Elligator,UV Protection Aviator Sunglasses (55),₹329,₹329
96,kingsunglasses,"UV Protection, Night Vision Wayfarer Sunglasse...",₹299,₹299
97,ROYAL SON,"UV Protection, Gradient Wayfarer Sunglasses (55)",₹217,₹217
98,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (52)",₹664,₹664
99,ROYAL SON,"Polarized, UV Protection Wayfarer Sunglasses (61)",₹664,₹664

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button

1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [99]:
url='https://www.flipkart.com/'
driver.get(url)

In [100]:
#web element for search bar
search_product=driver.find_element(By.CLASS_NAME,"_3704LK")
search_product.send_keys("iphone 11")

In [101]:
#Full xpath for search 
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [102]:
product=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]')
product.click()

In [106]:
#extract Rating


rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
Rating=[]

for r in rating_tags:
    Rating.append(r.text)

len(Rating)

0

In [107]:
#extract Review

review_tags=driver.find_elements(By.XPATH,'//div[@class="_2-N8zT"]')
review_tags

[]

Unable to proceed

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [110]:
url='https://www.flipkart.com/'
driver.get(url)

In [111]:
#web element for search bar
search_product=driver.find_element(By.CLASS_NAME,"_3704LK")
search_product.send_keys("Sneakers")

In [112]:
#Full xpath for search 
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [117]:
#Brand Name
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

Sneaker_brand=[]
for sb in brand_tags:
    Sneaker_brand.append(sb.text)

In [121]:
# Product Desription
product_tags1=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
Product_description=[]
for p in product_tags1:
    Product_description.append(p.text)

In [122]:
# Discount
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')

discount=[]
for d1 in discount_tags:
    discount.append(d1.text)

In [125]:
# Price
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

Price=[]

for p in price_tags:
    Price.append(p.text)

In [126]:
#Next PAge
next_page=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_page.click()

In [127]:
#Brand Name
brand_tags2=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for sb2 in brand_tags2:
    Sneaker_brand.append(sb2.text)

#Product
product_tags2=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for p2 in product_tags2:
    Product_description.append(p2.text)
    
# Discount
discount_tags2=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for d2 in discount_tags2:
    discount.append(d2.text)

# Price
price_tags2=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for pt2 in price_tags2:
    Price.append(pt2.text)

In [128]:
#Next PAge
next_page=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page.click()

In [130]:
#Brand Name
brand_tags2=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for sb2 in brand_tags2:
    Sneaker_brand.append(sb2.text)

#Product
product_tags2=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for p2 in product_tags2:
    Product_description.append(p2.text)
    
# Discount
discount_tags2=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for d2 in discount_tags2:
    discount.append(d2.text)

# Price
price_tags2=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for pt2 in price_tags2:
    Price.append(pt2.text)

In [134]:
Sneaker_brand=Sneaker_brand[:100]
Product_description=Product_description[:100]
Price=Price[:100]
discount=discount[:100]

In [135]:
sneakers=pd.DataFrame()
sneakers['Brand_Name']=Sneaker_brand
sneakers['Product_Description']= Product_description
sneakers['Price']=Price
sneakers['Discount']=discount
sneakers

,Brand_Name,Product_Description,Price,Discount
0,WOODLAND,Sneakers For Men,"₹1,797",40% off
1,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹284,78% off
2,PUMA,Puma Smash v2 L Sneakers For Men,"₹1,658",52% off
3,SFR,Sneakers For Men,₹289,71% off
4,URBANBOX,Sneakers For Men,₹219,78% off
...,...,...,...,...
95,PUMA,Sneakers For Men,"₹2,078",37% off
96,Edoeviv,Modern Trendy Sneakers Shoes Sneakers For Men,₹499,37% off
97,WHITE WALKERS,Brave Sneakers For Men,₹599,50% off
98,Strollin,Sneakers For Men,₹474,76% off
99,HOCKWOOD,Synthetic Leather Sneakers For Men,₹795,20% off

Q7. Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”,
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image.

In [3]:
#Import Libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

driver=webdriver.Chrome(r'C:\Users\sande\Downloads\chromedriver_win32\chromedriver.exe')
from selenium.webdriver.common.by import By

In [4]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [5]:
#price check
price_check=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
                                          
price_check.click()

In [6]:
#Color check
color_check=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
                                          
color_check.click()

In [7]:
#extracting brand
brand_tags=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
brand_tags

brand=[]

for b in brand_tags:
    brand.append(b.text)
len(brand)

50

In [8]:
#shoe description
brand_desc=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')

description=[]

for d in brand_desc:
    description.append(d.text)
len(description)

50

In [9]:
#shoe price
price_tag=driver.find_elements(By.XPATH,'//div[@class="product-price"]')

price=[]

for p in price_tag:
    price.append(p.text)
len(price)

50

In [10]:
#Next PAge
next_page=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]')
next_page.click()

In [11]:
#extracting brand
brand_tags1=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')



for b1 in brand_tags1:
    brand.append(b1.text)
len(brand)

100

In [12]:
#shoe description
brand_desc1=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')

for d1 in brand_desc1:
    description.append(d1.text)
len(description)

100

In [13]:
#shoe price
price_tag1=driver.find_elements(By.XPATH,'//div[@class="product-price"]')

for p1 in price_tag1:
    price.append(p1.text)
len(price)

100

In [14]:
shoes=pd.DataFrame()
shoes['Brand_Name']=brand
shoes['Product_Description']= description
shoes['Price']=price

shoes

,Brand_Name,Product_Description,Price
0,Nike,Men React Infinity 3 Running,Rs. 11196Rs. 13995(20% OFF)
1,Nike,Men KD 15 Basketball Shoes,Rs. 12595Rs. 13995(10% OFF)
2,Nike,Men SRG 3 FK Training Shoes,Rs. 8005Rs. 8895(10% OFF)
3,Nike,Women React MR 3 Running Shoes,Rs. 8396Rs. 10495(20% OFF)
4,Puma,Eternity Nitro Running Shoes,Rs. 9749Rs. 12999(25% OFF)
...,...,...,...
95,DAVINCHI,Men Formal Leather Slip-Ons,Rs. 8990
96,ECCO,Leather Stiletto Pumps,Rs. 12999
97,J.FONTINI,Men Solid Leather Formal Loafers,Rs. 9990
98,ECCO,Leather Block Pumps,Rs. 9999
99,J.FONTINI,Men Textured Leather Formal Loafers,Rs. 8990

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7”
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [15]:
url='https://www.amazon.in/'
driver.get(url)

In [16]:
#search
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search

In [17]:
#write on search bar
search.send_keys("Laptop")

In [19]:
#search Button
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

In [20]:

#CPU Type
cpu_type=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[14]/span/a/div')
cpu_type.click()

In [22]:
#Laptop name
name_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
name=[]
for n in name_tag:
    name.append(n.text)
len(name)

30

In [34]:
#Rating
rating_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
Rating=[]
for r in rating_tag:
    Rating.append(r.text)

In [31]:
#price
price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
Price=[]

for p in price_tag:
    Price.append(p.text)

In [36]:
name=name[0:10]
Rating=Rating[0:10]
Price=Price[0:10]

In [37]:
Laptop=pd.DataFrame()
Laptop['Title']=name
Laptop['Rating']=Rating
Laptop['Price']=Price

Laptop

                                               Title Rating     Price
0  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...      9    75,853
1  Acer Nitro 5 Core i7 11th Gen 15.6" (39.62cms)...     85    99,990
2  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...     26    89,990
3  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    161    57,890
4  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...      7  1,07,794
5  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...      5    87,900
6  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...      9    75,853
7  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...     14    82,990
8  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...      9    94,990
9  (Renewed) Lenovo IdeaPad Slim 3i (82H801CSIN) ...     93    38,325

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
   “Data Scientist” and click on search button
4. You will reach to the following web page click on location and in place of “Search location” enter
   “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data

In [1]:
#Import Libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

driver=webdriver.Chrome(r'C:\Users\sande\Downloads\chromedriver_win32\chromedriver.exe')
from selenium.webdriver.common.by import By
url='https://www.ambitionbox.com/'
driver.get(url)

In [2]:
Option_tag=driver.find_element(By.XPATH,'/html/body/div[1]/nav/nav/a[6]')
Option_tag.click()

In [3]:
#Search
search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search

In [4]:
search.send_keys("Data Scientist")

In [6]:
search_btn=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search_btn.click()

In [7]:
#location
location_tag=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[7]/div/label')
location_tag.click()

In [16]:
#company Name
company=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
company

[<selenium.webdriver.remote.webelement.WebElement (session="537eeb80ba98219fcf688c70181a532a", element="33076510-3d72-40af-b6cb-22b81d20d600")>,
 <selenium.webdriver.remote.webelement.WebElement (session="537eeb80ba98219fcf688c70181a532a", element="b2a6f043-03ab-49cb-b883-d3d028374edb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="537eeb80ba98219fcf688c70181a532a", element="cabd931d-6c9c-49fc-b489-bbffb73a6ed9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="537eeb80ba98219fcf688c70181a532a", element="b9ac6fbf-3613-4dad-956f-f0e68322beae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="537eeb80ba98219fcf688c70181a532a", element="73841abc-87e6-443e-b9d9-7df9c1b8b223")>,
 <selenium.webdriver.remote.webelement.WebElement (session="537eeb80ba98219fcf688c70181a532a", element="27568fa4-cfc5-47d9-b2f9-41a9f516d4c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="537eeb80ba98219fcf688c70181a532a", element="0a5023b6-5666-4734-98ce-1958e80dda0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="537eeb80ba98219fcf688c70181a532a", element="b783c46b-6362-460b-b37b-c903bb9376de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="537eeb80ba98219fcf688c70181a532a", element="bc393461-1c72-4ed2-8e28-b668c0e0ee18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="537eeb80ba98219fcf688c70181a532a", element="2ac5cf3b-2350-44c1-b434-2bee5921c89e")>]

In [17]:
Company_Name=[]
for c in company:
    Company_Name.append(c.text)
    
Company_Name

['Optum Global Solutions (India) Private Limited',
 'GENPACT India Private Limited',
 'Dew Solutions Pvt. Ltd.',
 'InfoEdge India Ltd.',
 'Info Edge India Limited',
 'Info Edge India Limited',
 'Latent bridge',
 'Careerera',
 'Careernet Consulting',
 'Acidaes Solutions Pvt. Ltd.']

In [19]:
#job post age
job_post_tags=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
Job_Posted=[]
for j in job_post_tags:
    Job_Posted.append(j.text)
    
Job_Posted

['9d ago',
 'via naukri.com',
 '16d ago',
 'via naukri.com',
 '7d ago',
 'via hirist.com',
 '14d ago',
 'via hirist.com',
 '15d ago',
 'via hirist.com',
 '15d ago',
 'via hirist.com',
 '15d ago',
 'via hirist.com',
 '2d ago',
 'via naukri.com',
 '29d ago',
 'via iimjobs.com',
 '15d ago',
 'via naukri.com']

In [20]:
#Rating
company_rating_tags=driver.find_elements(By.XPATH,'//span[@class="body-small"]')
Company_Rating=[]
for cr in company_rating_tags:
    Company_Rating.append(cr.text)
    
Company_Rating

['4.1', '4.0', '4.3', '3.9', '3.9', '3.9', '4.5', '3.8', '3.9', '3.8']

In [22]:
Company_Name=Company_Name[0:10]
Job_Posted=Job_Posted[0:10]
Company_Rating=Company_Rating[0:10]

amb_box=pd.DataFrame()
amb_box['Company Name']=Company_Name
amb_box['Job Posted']=Job_Posted
amb_box['Company Rating']=Company_Rating
amb_box

,Company Name,Job Posted,Company Rating
0,Optum Global Solutions (India) Private Limited,9d ago,4.1
1,GENPACT India Private Limited,via naukri.com,4.0
2,Dew Solutions Pvt. Ltd.,16d ago,4.3
3,InfoEdge India Ltd.,via naukri.com,3.9
4,Info Edge India Limited,7d ago,3.9
5,Info Edge India Limited,via hirist.com,3.9
6,Latent bridge,14d ago,4.5
7,Careerera,via hirist.com,3.8
8,Careernet Consulting,15d ago,3.9
9,Acidaes Solutions Pvt. Ltd.,via hirist.com,3.8