In [2]:
# Top 10 ODI batsmen in menâ€™s cricket
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [3]:
res=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
res

In [4]:
soup = BeautifulSoup(res.content)

In [5]:
Name=[]
Team=[]
Rating=[]

In [6]:
for i in soup.find_all('td', class_="table-body__cell rankings-table__name name"):
    Name.append(i.text)
Name=Name[0:10]
Name

['\nImam-ul-Haq\n',
 '\nVirat Kohli\n',
 '\nRohit Sharma\n',
 '\nQuinton de Kock\n',
 '\nRoss Taylor\n',
 '\nRassie van der Dussen\n',
 '\nJonny Bairstow\n',
 '\nDavid Warner\n',
 '\nShai Hope\n',
 '\nJoe Root\n']

In [7]:
for j in soup.find_all('span', class_="table-body__logo-text"):
    Team.append(j.text)

Team=Team[0:10]
Team

['PAK', 'IND', 'IND', 'SA', 'NZ', 'SA', 'ENG', 'AUS', 'WI', 'ENG']

In [9]:
for k in soup.find_all('td', class_="table-body__cell rating"):
    Rating.append(k.text)
Rating=Rating[0:10]
Rating

['815', '811', '791', '789', '775', '769', '752', '737', '718', '718']

In [11]:
data=pd.DataFrame({'NAME':Name,'TEAM':Team,'RATING':Rating})
#data.head(10)
data

                        NAME TEAM RATING
0            \nImam-ul-Haq\n  PAK    815
1            \nVirat Kohli\n  IND    811
2           \nRohit Sharma\n  IND    791
3        \nQuinton de Kock\n   SA    789
4            \nRoss Taylor\n   NZ    775
5  \nRassie van der Dussen\n   SA    769
6         \nJonny Bairstow\n  ENG    752
7           \nDavid Warner\n  AUS    737
8              \nShai Hope\n   WI    718
9               \nJoe Root\n  ENG    718