In [1]:
#Top 10 ODI team in womenâ€™s cricket 
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [15]:
res= requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [16]:
soup = BeautifulSoup(res.content)

In [17]:
team = []
match = []
point = []
rating = []

In [18]:
for i in soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)

In [25]:
matches=soup.find('td',class_="rankings-block__banner--matches")    
for j in soup.find_all('td',class_="table-body__cell u-center-text"):
    match.append(j.text)

match

In [20]:
Points=soup.find('td', class_="rankings-block__banner--points")
for k in soup.find_all('td',class_="table-body__cell u-center-text"):
    point.append(k.text)

In [21]:
point

['32',
 '3,949',
 '30',
 '3,531',
 '29',
 '2,889',
 '31',
 '3,019',
 '30',
 '2,768',
 '12',
 '930',
 '30',
 '1,962',
 '8',
 '384',
 '8',
 '351',
 '8',
 '0']

In [22]:
Rating=soup.find('td',class_="rankings-block__banner--rating u-text-right")
for l in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(l.text)

In [23]:
rating

['123', '118', '100', '97', '92', '78', '65', '48', '44', '0']

In [26]:
teams=team[:10]
print("matches[0]:",matches.text)
matches=match[0:18:2] 
matches.insert(0,29)
print("points[0]:",Points.text)
points=point[1:18:2] 
points.insert(0,4837)
print("rates[0]:",Rating.text.replace('\n',''))
ratings=rating[:9]
ratings.insert(0,167)

matches[0]: 29
points[0]: 4,837
rates[0]:                             167

In [27]:
data = pd.DataFrame({"Teams":teams,"Matches":matches,"Points":points,"Rating":ratings})
data

          Teams Matches Points Rating
0     Australia      29   4837    167
1  South Africa      32  3,949    123
2       England      30  3,531    118
3         India      29  2,889    100
4   New Zealand      31  3,019     97
5   West Indies      30  2,768     92
6    Bangladesh      12    930     78
7      Pakistan      30  1,962     65
8     Sri Lanka       8    384     48
9       Ireland       8    351     44