In [17]:
#Top 10 ODI players in womenâ€™s cricket 
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [2]:
res=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
res

In [3]:
soup = BeautifulSoup(res.content)

In [4]:
Name=[]
Team=[]
Rating=[]

In [11]:
Player=soup.find_all('td', class_="table-body__cell rankings-table__name name")
for i in Player:
    Name.append(i.text)
Name=Name[0:10]
Name

['\nNatalie Sciver\n',
 '\nBeth Mooney\n',
 '\nLaura Wolvaardt\n',
 '\nMeg Lanning\n',
 '\nRachael Haynes\n',
 '\nAmy Satterthwaite\n',
 '\nSmriti Mandhana\n',
 '\nTammy Beaumont\n',
 '\nEllyse Perry\n',
 '\nDeandra Dottin\n']

In [12]:
Country=soup.find_all('span', class_="table-body__logo-text")
for j in Country:
    Team.append(j.text)
Team=Team[0:10]
Team

['ENG', 'AUS', 'SA', 'AUS', 'AUS', 'NZ', 'IND', 'ENG', 'AUS', 'WI']

In [13]:
ratings=soup.find_all('td', class_="table-body__cell rating")
for k in ratings:
    Rating.append(k.text)
Rating=Rating[0:10]
Rating

['750', '748', '713', '710', '701', '681', '669', '659', '642', '625']

In [14]:
data=pd.DataFrame({'NAME':Name,'TEAM':Team,'RATING':Rating})
#data.head(10)
data

                    NAME TEAM RATING
0     \nNatalie Sciver\n  ENG    750
1        \nBeth Mooney\n  AUS    748
2    \nLaura Wolvaardt\n   SA    713
3        \nMeg Lanning\n  AUS    710
4     \nRachael Haynes\n  AUS    701
5  \nAmy Satterthwaite\n   NZ    681
6    \nSmriti Mandhana\n  IND    669
7     \nTammy Beaumont\n  ENG    659
8       \nEllyse Perry\n  AUS    642
9     \nDeandra Dottin\n   WI    625