In [1]:
# Top 10 ODI teams in menâ€™s cricket along with the records for matches, points and rating
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [2]:
res= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
res

In [3]:
soup = BeautifulSoup(res.content)

In [5]:
team = []
match = []
point = []
rating = []

In [19]:
for i in soup.find_all('span', class_="u-hide-phablet"):
    team.append(i.text)
team=team[0:10]
team

['New Zealand',
 'England',
 'Pakistan',
 'India',
 'Australia',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [7]:
for i in soup.find_all('td', class_="table-body__cell u-center-text"):
    match.append(i.text)

match

['22',
 '2,756',
 '19',
 '2,005',
 '22',
 '2,304',
 '23',
 '2,325',
 '19',
 '1,872',
 '24',
 '2,275',
 '29',
 '2,658',
 '32',
 '2,306',
 '18',
 '1,238',
 '20',
 '1,083',
 '18',
 '814',
 '19',
 '724',
 '18',
 '603',
 '17',
 '539',
 '30',
 '919',
 '20',
 '544',
 '11',
 '246',
 '18',
 '298',
 '22',
 '134']

In [18]:
matches=match[0:39:2]
matches=matches[0:10]
matches

['22', '19', '22', '23', '19', '24', '29', '32', '18', '20']

In [10]:
for k in soup.find_all('td', class_="table-body__cell u-center-text"):
    point.append(k.text)
point

['22',
 '2,756',
 '19',
 '2,005',
 '22',
 '2,304',
 '23',
 '2,325',
 '19',
 '1,872',
 '24',
 '2,275',
 '29',
 '2,658',
 '32',
 '2,306',
 '18',
 '1,238',
 '20',
 '1,083',
 '18',
 '814',
 '19',
 '724',
 '18',
 '603',
 '17',
 '539',
 '30',
 '919',
 '20',
 '544',
 '11',
 '246',
 '18',
 '298',
 '22',
 '134']

In [17]:
Points=point[1:39:2]
Points=Points[0:10]
Points

['2,756',
 '2,005',
 '2,304',
 '2,325',
 '1,872',
 '2,275',
 '2,658',
 '2,306',
 '1,238',
 '1,083']

In [16]:
for l in soup.find_all('td', class_="table-body__cell u-text-right rating"):
    rating.append(l.text)
rating=rating[0:10]
rating

['125', '106', '105', '101', '99', '95', '92', '72', '69', '54']

In [22]:

data=pd.DataFrame({'TEAM':team,'MATCHES':matches,'POINT':Points,'RATING':rating})
data
#data.head(10)

           TEAM MATCHES  POINT RATING
0   New Zealand      22  2,756    125
1       England      19  2,005    106
2      Pakistan      22  2,304    105
3         India      23  2,325    101
4     Australia      19  1,872     99
5  South Africa      24  2,275     95
6    Bangladesh      29  2,658     92
7     Sri Lanka      32  2,306     72
8   West Indies      18  1,238     69
9   Afghanistan      20  1,083     54