In [1]:
#Top 10 womenâ€™s ODI all-rounder
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [2]:
res= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

In [4]:
soup = BeautifulSoup(res.content)

In [12]:
Name=[]
Team=[]
Rating=[]

In [13]:
PLayer=soup.find_all('td', class_="table-body__cell rankings-table__name name")
for i in PLayer:
    Name.append(i.text)

In [22]:
Name1=Name[0:10]
Name1

['\nEllyse Perry\n',
 '\nHayley Matthews\n',
 '\nMarizanne Kapp\n',
 '\nAmelia Kerr\n',
 '\nAshleigh Gardner\n',
 '\nDeepti Sharma\n',
 '\nJess Jonassen\n',
 '\nSune Luus\n',
 '\nKatherine Brunt\n',
 '\nJhulan Goswami\n']

In [14]:
Country=soup.find_all('span', class_="table-body__logo-text")
for j in Country:
    Team.append(j.text)
Team

['AUS',
 'WI',
 'SA',
 'NZ',
 'AUS',
 'IND',
 'AUS',
 'SA',
 'ENG',
 'IND',
 'ENG',
 'WI',
 'NZ',
 'PAK',
 'BAN',
 'BAN',
 'SA',
 'ENG',
 'AUS']

In [23]:
Team1=Team[0:10]
Team

['AUS', 'WI', 'SA', 'NZ', 'AUS', 'IND', 'AUS', 'SA', 'ENG', 'IND']

In [24]:
Ratings=soup.find_all('td', class_="table-body__cell rating")
for i in Ratings:
    Rating.append(i.text)

Rating1=Rating[0:10]
Rating1

['374', '338', '338', '335', '269', '249', '245', '223', '221', '217']

In [25]:
data=pd.DataFrame({'NAME':Name1,'TEAM':Team1,'RATING':Rating1})
data

                   NAME TEAM RATING
0      \nEllyse Perry\n  AUS    374
1   \nHayley Matthews\n   WI    338
2    \nMarizanne Kapp\n   SA    338
3       \nAmelia Kerr\n   NZ    335
4  \nAshleigh Gardner\n  AUS    269
5     \nDeepti Sharma\n  IND    249
6     \nJess Jonassen\n  AUS    245
7         \nSune Luus\n   SA    223
8   \nKatherine Brunt\n  ENG    221
9    \nJhulan Goswami\n  IND    217